<div class="col-md-4">
  <div class="form-group">
    <%= form_for [@user, Item.new], remote: true do |f| %>
      </br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Add another To-Do item" %>
      </br>
    <div class="form-group">
      <%= f.submit "Submit a To-Do item", class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
</div>